<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDJPLpcDVoBmL0hKcr53lLXGN7oU7XpVuc</string>
	<key>GCM_SENDER_ID</key>
	<string>590795256507</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.voltmaster</string>
	<key>PROJECT_ID</key>
	<string>voltmaster-a03b2</string>
	<key>STORAGE_BUCKET</key>
	<string>voltmaster-a03b2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:590795256507:ios:3b0ad7572465d2e0c0af9e</string>
</dict>
</plist>